:root {
  --swiper-theme-color: #D2A97D;
}

input{
    border:1px solid white;
} 
input:focus {
    border:1px solid #D2A97D !important; /* Màu border khi được focus */
  }
  
  textarea:focus{
        border:1px solid #D2A97D !important;
  }


  select:focus {
    border:1px solid #D2A97D !important; /* Màu border khi được focus */
  }

  select option:hover {
    background-color: #D2A97D !important; /* Màu nền muốn thay đổi khi hover */
  }
  .hover-option:hover{
    background-color: #D2A97D !important; /* Màu nền khi hover */
  }

  .hover-option:active {
    background-color: #D2A97D !important; /* Màu nền khi hover */
  }
 .placeholder{
  color: #B6B6B6 !important; 
 }
  #datepicker.placeholder {
    color: #B6B6B6; /* Màu của placeholder nhạt */
  }
  


.bg-white {
    background-color: white !important;
  }
.text-black{
    color:black !important
}

.bg-primary{
 background-color:#003A34;
}

.bg-primary2{
    background: var(--Brand-1, #D2A97D);
   }
.text-orange-300{
    color:#D2A97D !important
}

.btn:hover{
    background:#F2CA8F !important;
}

img{
    object-fit: cover !important; 
}

li{
    list-style-type: none; 
}

.max-content{
    max-width:1280px;
    margin-left:auto;
    margin-right:auto;
}

.active{
    color:#F2CA8F !important;
    padding-bottom: 3px !important;
    border-bottom: 2px solid #F2CA8F !important;
}

.nav__link:hover{
    color:#F2CA8F;
    padding-bottom: 3px !important;
    border-bottom: 2px solid #F2CA8F !important;
}

.black {
    fill: black !important; /* Màu mặc định */
  }

.top{
    top:0 !important;
  }

  .position-btn{
    position: fixed;
    bottom: 80px; /* Khoảng cách từ đáy màn hình */
    right: 40px; /* Khoảng cách từ phải màn hình */
    z-index:999;
  }


  .overlay {
    display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     justify-content: center;
     align-items: center;
     margin-left:auto;
     margin-right:auto;
     z-index:99999;
}
  .popup{
    position: absolute;
    top: 50%; /* Đưa phần tử lên 50% của phần tử chứa */
    left: 50%; /* Đưa phần tử sang 50% của phần tử chứa */
    transform: translate(-50%, -50%); /* Dịch chuyển phần tử ngược lại 50% của chiều rộng và chiều cao của nó */
    width: auto; /* Có thể thay đổi tùy thuộc vào nhu cầu */
    height: auto; /* Có thể thay đổi tùy thuộc vào nhu cầu */
  }

  
.title{
    cursor:pointer;
}

.error-input{
    border:1px solid red !important;

}

.box {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3); /* Shadow ban đầu */
  animation: shadowJump 0.8s infinite alternate; /* Sử dụng animation */
}

input:focus {
  color: black !important;
}


:disabled {
  cursor: default;
  background-color: #f0f0f0 !important;
}

@keyframes shadowJump {
  0% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  }
  100% {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Shadow khi nhảy */
  }
}


  @media only screen and (max-width: 767px) {
    .popup{
        position: fixed;
        top: 50%;
        right: 50%;
        left: 50%;
       
        transform: translate(-50%, -50%);
        width: 90%;
      }
    
      .position-btn{
        position: fixed;
        bottom: 100px; /* Khoảng cách từ đáy màn hình */
        right: 20px; /* Khoảng cách từ phải màn hình */
        z-index:999;
      }
  }